[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
boto = "*"
moto = "*"
mysql-connector-python = "*"
fastapi = "*"
uvicorn = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.12"
